html,
body {
  --at-apply: m-0 p-0 overflow-hidden;
}

.all-center {
  --at-apply: flex flex-col items-center justify-center;
}

.screen-ctn {
  --at-apply: h-screen w-screen overflow-hidden fixed inset-0;
}
